<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>302893957511-l9c8bodpdp2q45v7e19n1uahsob18o87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302893957511-l9c8bodpdp2q45v7e19n1uahsob18o87</string>
	<key>API_KEY</key>
	<string>AIzaSyBbeoksU79VfhcQJ-8uAQjtHE68ZZwPplE</string>
	<key>GCM_SENDER_ID</key>
	<string>302893957511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>triolabs.Phynergy</string>
	<key>PROJECT_ID</key>
	<string>phynergy-27a75</string>
	<key>STORAGE_BUCKET</key>
	<string>phynergy-27a75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302893957511:ios:500c09e419ccb1d2</string>
	<key>DATABASE_URL</key>
	<string>https://phynergy-27a75.firebaseio.com</string>
</dict>
</plist>